@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;600;700;900&display=swap');

html {
    min-height: 100%;
}

body {
    direction: rtl;
    background-color: #383838;
    padding-bottom: 200px;
}

header {
    margin-bottom: 12px;
}

* {
    font-family: 'Rubik', sans-serif !important;
}

h1 {
    text-align: center;
    color: white;
    margin: 16px;
}

h2 {
    font-size: 18px;
    font-weight: bold;
    padding: 12px 0;
    margin: 0px;
}

.frame {
    width: 80%;
    max-width: 900px;
    min-height: 300px;
    background-color: #ffffff00;
    margin: auto;
    padding: 8px 16px;
    border-radius: 6px;
    text-align: center;

}

.framed div {
    width: 80px;
    height: 80px;
    border: 1px solid;
}

.board div:not(.dirty):hover {
    cursor: pointer;
    background-color: rgb(224, 88, 88);
}

.board {
    display: inline-grid;
    border-radius: 3px;
    border: 4px solid;
    overflow: hidden;
    background-color: #464646;
}

.board div {
    width: 30px;
    height: 30px;
    border: 1px solid #fafafa00;
    cursor: pointer;
    font-size: 15px;
    display: flex;
    outline: 1px solid rgb(0, 0, 0);
    justify-content: center;
    align-items: center;
    color: #e4e4e4;
}


.active {
    background-color: #8bc34a;


}

.active.head {
    position: relative;

}

.head.up {
    border-radius: 12px 12px 0 0;
}

.head.right {
    border-radius: 0 12px 12px 0;
}

.head.down {
    border-radius: 0 0 12px 12px;
}

.head.left {
    border-radius: 12px 0 0 12px;
}

.apple::after {
    content: "🍎";
    position: relative;

}