@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;600;700;900&display=swap');

html {
    height: 100%;
}

body {
    direction: rtl;
    background-color: rgb(21, 21, 21);
    padding-bottom: 200px;
}

* {
    font-family: 'Rubik', sans-serif !important;
}

h1 {
    text-align: center;
    color: white;
    margin: 16px;
}

.frame {
    width: 80%;
    max-width: 900px;
    min-height: 600px;
    background-color: #ffffffc9;
    margin: auto;
    padding: 8px 16px;
    border-radius: 6px;
    text-align: center;
    padding-top: 72px;

}

.framed div {
    width: 80px;
    height: 80px;
    border: 1px solid;
}


.board {
    display: inline-grid;
    overflow: hidden;
    background-color: black;
    border: 6px solid rgb(0, 0, 0);
    gap: 6px;
    padding: 6px;
    border-radius: 12px;
}

.board div {
    width: 100px;
    height: 100px;
    background: rgb(189, 104, 104);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 45px;
    font-weight: bold;
    color: white;
    text-shadow: 0 0 6px rgb(69, 69, 69);
    margin: 4px;
    border-radius: 12px;

}

h2 {
    font-size: 18px;
    font-weight: bold;
    padding: 12px 0;
    margin: 0px;
}

button {
    background-color: #8bc34a;
    color: white;
    padding: 8px 12px;
    border-radius: 6px;
    border: none;
}