@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;600;700;900&display=swap');


body {

    background-color: rgb(21, 21, 21);
    color: white;
    text-align: center;
}

* {
    font-family: 'Rubik', sans-serif !important;
}

h1 {
    text-align: center;
    color: white;
    margin: 16px;
}



.bigDiv {
    max-width: 300px;
    min-height: 300px;
    display: inline-grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 20px;
    background-color: pink;
    border-radius: 6px;
    padding: 5px 400px;
    justify-content: center;
}

.cardClass {
    background-color: white;
    color: blue;
    border-radius: 12px;
    font-size: large;
    padding: 30px;
    margin: 10px;
    height: 100px;
    width: 60px;
    backface-visibility: hidden;
}



/* .cardClass:hover {
    cursor: pointer;
    transform: rotateY(180deg);
} */



.backSide {
    color: aqua;
    background-color: blue;
    backface-visibility: hidden;
    transform: rotateY(180deg);
    /*
        visibility: hidden;
        transform: rotateY(180deg);*/
}

.flipCard {
    transform: rotateY(180deg);
    background-color: aqua;
}

.frontSide {
    color: black;
    background-color: white;

}