body {
    background-color: rgb(68, 69, 69);
    text-align: center;


}

h1 {
    font-size: 40px;
    color: pink;
    text-align: center;
}

.frame {
    display: flex;
    align-items: baseline;
    background-color: antiquewhite;
    width: 80%;
    min-height: 500px;
    max-width: 900px;
    border-radius: 12px;
    margin: auto;
    padding: 15px;
}



button.btn-main {
    background-color: rgb(235, 196, 246);
    border-radius: 15px;
    margin: 20px;
    border: none;
    padding: 12px;
}

button.btn_sec {
    background-color: rgb(235, 196, 246);
    border-radius: 15px;
    margin: 20px;
    border: none;
    padding: 12px;
}


button.button-main:hover {
    background-color: antiquewhite;

}

.task {
    display: flex;
    justify-content: space-between;
    padding: 16px;
    border-bottom: 1px solid #d4d4d4;
    align-items: center;
}